@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="container">
    @foreach (var item in Model)
    {

        <a asp-action="Messages" asp-controller="Books" asp-route-id="@item.ToId">
            <p style="text-align:center">@item.ToName</p>
        </a>
    }
</div>