@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}

<br />
<br />
<div class="col-md-2 col-md-offset-5">

    <img class="img-responsive imgLogo" src="~/images/logo.png" />
    <h3 style="text-align:center " class="LightText textColor">@ViewData["Title"]</h3>
    <div class="row">
        <div>
            <section>
                <form method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <a class="btn btn-default" asp-page="./Register">Cancel</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
